// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$backgroundColor: #FFFFFF;
$secondaryBackground: rgb(246, 249, 252);
$primary: #2699FB;

html {
    background-color: $backgroundColor;
}

p { 
    font-size: 18px;
}

button {
    padding-right: 20px;
}

#app {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundColor;
}

#navbar { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 30px;
    padding-bottom: 10px;
}

// styling for questionnaire

.questionnaire {
    width: 65%;
    > div {
        margin: 60px 0px;
    }
}

#app {
    background-repeat:no-repeat;
    background-size:contain;
    height:100%;
    width:100%;
    overflow: hidden;
}

.background0 {
    background-image: url(asset_path('emissions.jpg'));
}

.background1 {
    background-image: url(asset_path('clouds.jpg'));
}

.background2 {
    background-image: url(asset_path('poppies.jpg'));
}

.background3 {
    background-image: url(asset_path('windmills.jpg'));
}

// styling for profile
#profile {
    width: 70%;
    button {
        margin-right: 20px;
    }
}

#footprint {
    h1 {
        padding-top: 10px;
        font-size: 50px;
        text-align: center;
    }

    .graph {
        padding: 20px 0px;
        
        > div {
            padding-bottom: 40px;
        }
    }
}

#causes {
    width: 60%;

    > div {
        margin: 30px 0px;
        padding: 20px;
        background-color: #FCFCFB;
        border-left: solid #F3A277 16px;
        // box-shadow: #F3A277 14px 14px;
    }

    h1 a {
        color: #313131;
    }
    button {
        margin-top: 10px;
    }
}

#payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 30px;
    background-color: $secondaryBackground;
    border-radius: 5px;
    button {
        margin: 20px 20px 20px 0px;
    }

    h1 {
        font-size: 42px;
        margin-bottom: 0px;
    }

    p {
        max-width: 900px;
    }

    h2 {
        font-size: 26px; 
        span {
            font-size: 40px;
            color: #46a119;
        }
    }


    .payment-input {
        h3 {
            margin: 0px;
        }
        font-size: 28px;
        margin: 20px 0px;

        > div {
            margin-right: 5px;
        }
    }

  
}


